@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui";

/* Fonts */
:root {
  font-family: "lato";
  padding: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto";
}

/* Theme */
@plugin "daisyui" {
  themes:
    sunset --default,
    silk --prefersdark;
}
